<head>
  <meta http-equiv='X-UA-Compatible' content='IE=Edge' />
  <meta charset='UTF-8'>
  <title>Maps SDK for Web - Vector map</title>
  <meta name='viewport'
        content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no'/>
  <link rel='stylesheet' type='text/css' href='https://api.tomtom.com/maps-sdk-for-web/cdn/6.x/6.18.0/maps/maps.css'>
  <link rel='stylesheet' type='text/css' href='../assets/ui-library/index.css'/>
</head>

<ion-content [fullscreen]="true">
  <div #map id="map"></div>
  
</ion-content>

<ion-button (click)="e()"></ion-button>
<div>{{y}}</div>
